{% load static %}
{% load i18n %}

<div class="dropdown d-inline-block mt-12">
  <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
          data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <img class="rounded-circle header-profile-user" src="{% static 'protend/images/profile/profile.png' %}"
         alt="Header Avatar">
    <span class="pulse-css"></span>
    <span class="info d-xl-inline-block  color-span">
      <span class="d-block fs-20 font-w600">{{ request.user.get_full_name }}</span>
      <span class="d-block mt-7">{{ request.user.email }}</span>
    </span>

    <i class='bx bx-chevron-down'></i>
  </button>
  <div class="dropdown-menu dropdown-menu-end">
    <!-- item-->
    <a class="dropdown-item">
      <i class="bx bx-user font-size-16 align-middle me-1"></i>
      <span>{% translate 'header menu perfil' %}</span>
    </a>
    <a class="dropdown-item">
      <i class="bx bx-credit-card font-size-16 align-middle me-1"></i>
      <span>{% translate 'header menu pagamentos' %}</span>
    </a>
    <a class="dropdown-item d-block">
      <i class="bx bx-wrench font-size-16 align-middle me-1"></i>
      <span>{% translate 'header menu configuracoes' %}</span>
    </a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item text-danger" href="template/user-login.html">
      <i class="bx bx-power-off font-size-16 align-middle me-1 text-danger"></i>
      <span>{% translate 'header menu logout' %}</span>
    </a>
  </div>
</div>